.credentials-container {
  /* border: 1px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
}

.signin {
  /* border: 1px solid red; */
  width: 30%;
  margin: 5%;
}

.scroll-show {
  border: 5px solid rgb(126, 67, 33);
  width: 100%;
  margin: 2%;
  overflow-y:auto;
  height: 75%;
}

.home-container {
  border: 2px solid rgb(181, 102, 164);
  display: flex;
  justify-content: space-around;
  height: 70vh;
}

.home-details {
  border: 3px dashed pink;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-btn {
  margin: 10px;
}

.issue-details {
  text-align: center;
}

.issues-listgroup {
  border: 5px solid rgb(0, 128, 6);
  width: 70%;
  overflow-y:auto;
  height: 90%;

}
.project-header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.project-footer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-body {
  height: 40vh;
  display: flex;
  align-items: center;

}

.issueinfo-container {
  display: flex;
  border: 2px solid red;
  justify-content: space-around;
}

.low {
  background-color: rgba(238, 238, 166, 0.809);
}

.medium {
  background-color: rgba(238, 192, 42, 0.828);
}

.high {
  background-color: rgba(238, 83, 32, 0.828);
}

.critical {
  background-color: rgba(239, 38, 51, 0.891);
}

.medium,.low,.high,.critical,.open,.closed {
  padding: 3px;
  border-radius: 5px;
}

.closed {
  background-color: rgba(154, 139, 240, 0.835);
}

.open {
  background-color: rgba(150, 241, 143, 0.835);
}