.credentials-container {
  /* border: 1px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
}

.signin {
  /* border: 1px solid red; */
  width: 30%;
  margin: 5%;
}

.scroll-show {
  border: 2px solid rgb(210, 206, 204);
  width: 100%;
  margin: 2%;
  overflow-y:auto;
  height: 53%;
  background-color: rgba(69, 68, 68, 0.773);
}

.home-container {
  /* border: 2px solid rgb(181, 102, 164); */
  display: flex;
  justify-content: space-around;
  height: 70vh;
}

.home-header {
  display: flex;
  justify-content: space-around;
  margin: 0 0 2% 0;
  padding-top: 1%;
}


.home-details {
  /* border: 3px dashed pink; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details {
  /* border: 3px dashed pink; */
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-btn {
  margin: 10px;
  background-color: rgb(79, 79, 221);
  color: white;
  border-radius: 5px;
  padding: 6px;
}

.home-btn:hover {
  background-color: rgb(52, 52, 222);
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.stat-detail {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin: 0.5%;
}

.open-stat {
  background-color: rgba(224, 139, 19, 0.921);
  display: flex;
  flex-direction: column;
}

.close-stat {
  background-color: rgba(20, 171, 20, 0.855);
  display: flex;
  flex-direction: column;
}

.issue-icon {
  margin-bottom: 7%;
  font-size: 2em;
}

.stat-project {
  width: 60%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(58, 40, 189, 0.623);
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin: 1%;
}

.stat-issue-container {
  display: flex;
  width: 60%;
  height: 35%;
}


.issue-details {
  text-align: center;
}

.issues-listgroup {
  border: 5px solid rgb(0, 128, 6);
  width: 70%;
  overflow-y:auto;
  height: 90%;

}
.project-header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.project-footer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-body {
  height: 40vh;
  display: flex;
  align-items: center;

}

.issueinfo-container {
  display: flex;
  border: 2px solid red;
  justify-content: space-around;
}

.low {
  background-color: rgba(238, 238, 166, 0.809);
}

.medium {
  background-color: rgba(238, 192, 42, 0.828);
}

.high {
  background-color: rgba(238, 83, 32, 0.828);
}

.critical {
  background-color: rgba(239, 38, 51, 0.891);
}

.medium,.low,.high,.critical,.open,.closed {
  padding: 3px;
  border-radius: 5px;
}

.closed {
  background-color: rgba(154, 139, 240, 0.835);
}

.open {
  background-color: rgba(150, 241, 143, 0.835);
}

.issue-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5%;
}

.issuedescr-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  margin: 2% 3% 0.5% 3%;
  border: solid purple 3px;
}

.icon-nav {
  margin-left: 1%;
  background-color: rgb(63, 147, 8);
  padding: 0.5%;
  border-radius: 4px;
}

.icon-nav:hover {
  background-color: rgb(56, 121, 12);
}

.plotdata-container {
  width: 40%;
  border-radius: 10px;
}

.home-body {
  background-color: rgba(174, 174, 174, 0.367);
  height: 100%;
  width: 100%;
}